src/configs/car001/perception/data/lidar/models/cnnseg/velodyne128/deploy.caffemodel filter=lfs diff=lfs merge=lfs -text
src/configs/car001/perception/data/lidar/models/cnnseg/velodyne16/deploy.caffemodel filter=lfs diff=lfs merge=lfs -text
src/configs/car001/perception/data/lidar/models/cnnseg/velodyne64/deploy.caffemodel filter=lfs diff=lfs merge=lfs -text
