<!-- <cyber>
    <module>
        <name>conti_radar</name>
        <dag_conf>/apollo/modules/drivers/radar/conti_radar/dag/conti_radar.dag</dag_conf>
        <process_name>conti_radar</process_name>
    </module>
</cyber> -->

<launch>
  <node name="conti_radar_front" pkg="drivers" type="conti_radar" output="screen">
    <param name="config_file_path" value="radar/conti_radar/conf/radar_front_conf.pb.txt"/>
  </node>
</launch>
