<launch>
  <node name="perception" type="fusion_camera_detection" pkg="perception" output="screen" launch-prefix="gdb -ex --args">
    <param name="use_camera_short_"   type="bool" value="true"/>
    <param name="use_camera_long_"    type="bool" value="false"/>
    <param name="camera_short_topic"  type="string" value="apollo/sensor/camera/front_6mm/image"/>
    <param name="camera_long_topic"   type="string" value="apollo/sensor/camera/front_12mm/image"/>
  </node>

</launch>